<div class="row">
  <div class="col-md-12 text-center">
    <h1>Upcoming Events</h1>
  </div>
  <div class="col-md-12 larger-font-size">
    <table class="table">
    <% @race.each do |race| %>
        <tr>
          <td><%= Date::MONTHNAMES[race.race_date.month] %></td>
          <td><%= race.race_date.day %></td>
          <td><%= Date::DAYNAMES[race.race_date.wday] %></td>
          <td><%= race.race_name %></td>
        </tr>
    <% end %>
    </table>
  </div>
  <div class="col-md-12">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eligendi facere, tempore consequuntur sed doloribus fugiat itaque numquam aspernatur voluptatum, nesciunt maxime perferendis veritatis nulla magni mollitia? Labore, accusantium minima.</p>

  </div>
</div>