<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Upcoming Events</h1>
  </div>
  <div class="col-xs-12">
    <table class="table">
    <% @race.each do |race| %>
        <tr>
          <td><%= Date::MONTHNAMES[race.race_date.month] %></td>
          <td><%= race.race_date.day %></td>
          <td><%= Date::DAYNAMES[race.race_date.wday] %></td>
          <td><%= race.race_name %></td>
        </tr>
    <% end %>
    </table>
  </div>
</div>