<div class="row">
  <div class="col-md-12 text-center">
    <h1>Crew Now</h1>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
  <% end %>
  </div>
  <div class="row skipper-start">
    <div class="col-md-8 col-md-offset-2">
    <% url = user_signed_in? ? '/crewmanager' : new_user_session_path %>
    <%= link_to image_tag("skipperstart.png", :class => 'img-responsive beginning-margin'), url %>
    </div>
  </div>
  <div class="row crew-start">
    <div class="col-md-8 col-md-offset-2">
    <%= link_to image_tag("crewstart.png", :class => 'img-responsive'), {:action => 'show', :controller => 'race'} %>
    </div>
  </div>
</div>