<div class="row">
  <div class="col-xs-12 text-center">
    <h1>Crew Now</h1>
  </div>
  <div class="row skipper-start">
    <a href="#"> <img class="img-responsive beginning-margin" src="/assets/skipperstart.png"></a>
  </div>
  <div class="row crew-start">
    <a href="#"><img class="img-responsive" src="/assets/crewstart.png"></a>
  </div>
</div>