<h1>Thank you</h1>
<h2><%= @racetitle %></h2>
<p>Your information has been submitted for review</p>

<p>The params that are saved from the last page are:</p>

<%= @crew_params %>

<p>go back <a href="/">home</a></p>
