<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Crew Confirmed</h1>
    <p>Your crew have been notified of your confirmation.</p>
    <p>Go back to the <a href="/crewmanager">crew manager.</a></p>
  </div>
</div>


